.path {
  fill: #000000;
  stroke: #FFFFFF;
  stroke-dasharray: 7000;
  animation: ShowCreation 5s linear forwards;
}

@keyframes ShowCreation {
  0% {
  	stroke-dashoffset: 7000;
  	fill: #000000;
  }
  75% {
  	stroke-dashoffset: 0;
  	fill: #000000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #FFFFFF;
  }
}